<!DOCTYPE html>
<html lang="en" ng-app="SMApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SMMarians - Helpdesk</title>
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/style.min.css" rel="stylesheet"/>
</head>
<body>
    <div id="mainPage">
        <section class="container">
            <section class="header">
                <div class="formpage-topsection">
                    <div class="page-logo col-md-6">
                        <img src="../../images/logo.jpg" alt="SMMarians" class="small-image" />
                    </div>
                    <div class="side-top-menu col-md-6 floatRight">
                        <div class="">
                            
                        </div>
                    </div>
                </div>
            </section>
            <div class="top-divider"></div>
            <section class="main-container">
                <section class="left-menu-section col-md-2">
                    <div class="left-menu-content" id="accordionMenu" ng-controller="CollapseMenuCtrl">
                        <ul class="menu-bar">
                            <li>
                                <h3 ng-click="isMasterCollapsed = !isMasterCollapsed"><span class="icon-master"></span>Master</h3>
                                <ul uib-collapse="isMasterCollapsed">
                                    <li><a href="#">Branch Master</a></li>
                                    <li><a href="#">City Master</a></li>
                                    <li><a href="#">Product Type Master</a></li>
                                    <li><a href="#">Product Master</a></li>
                                    <li><a href="#">Role Master</a></li>
                                    <li><a href="#">User Master</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3 ng-click="isTransCollapsed = !isTransCollapsed"><span class="icon-transaction"></span>Transaction</h3>
                                <ul uib-collapse="isTransCollapsed">
                                    <li><a href="#">Customer Call</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3 ng-click="isReportCollapsed = !isReportCollapsed">
                                    <span class="icon-transaction"></span>Report
                                </h3>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="main-form col-md-10">
                    <form>
                        <div class="left-side-form col-md-6">
                            
                        </div>
                    </form>
                </section>
            </section>
            <section class="footer-section clearfix">
                <div class="footer-content">
                    <ul class="footer-menu col-md-6">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <div class="copyrights col-md-6">
                        <span class="floatRight footer-txt">Copyright &copy; 2016 SM Marains.com. All Rights Reserved.</span>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <script type="text/javascript" src="../vendor/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../vendor/angular/angular-1.5.8.min.js"></script>
    <script type="text/javascript" src="../vendor/angular/angular-animate-1.5.8.min.js"></script>
    <script type="text/javascript" src="../vendor/angular/angular-resource-1.5.8.min.js"></script>
    <script type="text/javascript" src="../vendor/angular/angular-sanitize-1.5.8.min.js"></script>
    <script type="text/javascript" src="../vendor/angular/angular-touch-1.5.8.min.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendor/angular/ui-bootstrap-2.2.0.min.js"></script>
    <script src="../../js/script.min.js"></script>
</body>
</html>